.container {
  text-align: center;
  padding: 20px 0;
  background-color: #DCEDFF;
}

.get-city {
  padding-bottom: 20px;
}

.day {
  /*background-color: #0AD3FF;*/
  background-color: #A4C0EA;
  /*border: 5px solid #037971;*/
  padding: 8px;
}

h3 {

}
